@{
    ViewData["Title"] = "Home Page";
}

<div>
    <ul>
        @foreach (var actor in ViewData["actors"] as List<Actor>)
        {
            <li>@actor.getActorName()</li>
        }
    </ul>
</div>