@model QueryResult

<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
    }

    tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    tbody tr:hover {
        background-color: #f5f5f5;
    }
       .back-button {
            margin-bottom: 20px;
        }
</style>
<a class="btn btn-primary back-button" href="/">Back to Home</a>
<table>
    <thead>
    <tr>
        @for (int i = 0; i < Model.Results.GetLength(0); i++)
        {
            <th>@Model.Results[i, 0]</th>
        }
    </tr>
    </thead>
    <tbody>
    @for (int j = 1; j < Model.Results.GetLength(1); j++)
    {
        <tr>
            @for (int i = 0; i < Model.Results.GetLength(0); i++)
            {
                <td>@Model.Results[i, j]</td>
            }
        </tr>
    }
    </tbody>
</table>
``